# ignore all files first , then exclude some files later
/*

# projects
!/News
!/MySilding
!/OneKeyShare
!/PullToRefreshLib
!/ShareSDK
!/SMSSDK
!/LoadMoreLib
!/CommonAnalyticsLib
!/facebook

# git
!/.gitignore
!/.gitmodules

# gradle
!/build.gradle
!/settings.gradle
!/gradlew
!/gradlew.bat
!/gradle.properties