@charset "utf-8";
html, body {
    padding: 2px;
    margin: 0;
    border: 0;
    color: #ccc;
    background: #222222;
}

body {
    font-family: 'kievit';
    line-height: 150%;
    overflow-x: hidden;
}

div, p, table, h1, h2, h3, h4, h5 {
    display: block;
}

img {
    margin: 2px 0px;
    background: #efefef;
    width: 100%;
}

/*基本链接样式*/
a {
    color: #3f51b5;
    text-decoration: none;
    border: none;
    outline: none;
}
