@charset "utf-8";
html, body {
    margin: 0;
    padding: 0;
    border: 0;
    color: #cccccc;
    background: #222222;
    font-size: 100%;
}

body {
    padding-top:10px;
    font-family: 'kievit';
    line-height: 150%;
    overflow-x: hidden;
}

div, p,img, table, h1, h2, h3, h4, h5 {
    display: block;
}

img {
    margin:3px auto;
    background: #efefef;
    max-width:100%;
}

/*基本链接样式*/
a {
    color: #ff0000;
    text-decoration: none;
    border: none;
    outline: none;
}
